@import "./variables.scss";

.show-lyrics {
    white-space: pre-line;
}

.show-description {
    white-space: pre-wrap;
}

.show-header {
    // background-image: var(--background-image);
    background-size: 100% 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-background-image {
    object-fit: cover;
    width: 100%;
    height: 330px;
    position: absolute;
    z-index: 1;
    filter: brightness(60%);
}

.show-album-artwork {
    border: $info-subtitles-color;
    border-style: solid;
    border-width: 2px;
    height: 280px;
    width: 280px;
    margin-top: 25px;
    margin-bottom: 15px;
    z-index: 2;
}

.show-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    z-index: 2;
}

.show-title {
    color: $header-color;
    font-size: 2rem;
    margin-bottom: 10px;
}

.show-artist {
    color: white;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

.show-producer  {
    color: $info-subtitles-color;
    margin-bottom: 5px;
}

.show-album {
    color: $info-subtitles-color;
}

.show-stats {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: $info-subtitles-color;
    margin-left: 100px;
    margin-top: 200px;
    font-size: 0.8rem;
    z-index: 2;
}

.show-views {
    color: $info-subtitles-color;
}

.show-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: $page-background-color;
    width: 100%;
}

.show-body-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: white;
    width: 40%;
}

.show-left-column {
    width: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
}


.show-right-column {
    width: 400px;
    margin-left: 30px;
    margin-top: 40px;
}

.show-lyrics {
    font-size: 1.1rem;
    line-height: 150%;
    font-weight: 300;
}

.show-description {
    line-height: 125%;
    padding: 5px;
}

.annotation-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $annotation-background-color;
}

.annotation-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-annotation-title {
    font-size: 1.25rem;
    margin: 5px;
}

.close-icon {
    margin: 5px;
    border: solid black 1px;
}

.annotation-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.annotation-body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.annotation-string {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.annotation-body-info {
    padding: 5px;
    font-size: .5rem;
}

.annotation-textarea-container {
    padding-left: 5px;
    padding-right: 5px;
}

.annotation-form-submit-button {
    padding: 5px;
}

.annotations-container {
    background: $annotation-background-color;
    margin-top: 20px;
}

.annotations-header {
    font-size: .8rem;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.annotation-index-item {
    padding: 5px;
}

.annotation-index-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: black solid 1px;
}

.annotation-index-header {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    width: inherit;
}

.annotation-index-title {
    font-size: .6rem;
}

.annotation-index-author {
    font-size: .6rem;
    font-weight: bold;
}

.annotation-index-string-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.annotation-index-string {
    font-weight: bold;
    font-size: .7rem;
}

.annotation-index-body {
    padding: 5px;
    font-size: .8rem;
}